*{
  padding: 0;
  margin: 0;
}
body{
  background-image: url(../assets/home/background-home-desktop.jpg);
  padding: 25px 0 0 75px;
}

hr{
  border-top: 2px solid gray;
  width: 35%;
  margin-left: 80px;
}
h1{
  font-size: 11vw;
  font-family: 'Bellefair', serif;
  color: white;
}
h3{
  font-size: 2.2vw;
  letter-spacing: 3.38px;
  font-family: 'Barlow Condensed', sans-serif;
  color: #D0D6F9;
}
p{
  font-size: 1.25vw;
  line-height: 2;
  font-family: 'Barlow', sans-serif;
  color: #D0D6F9;
}
.header img{
  height: 48px;
  width: 48px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
.navbar-nav {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: transparent;
}
}
.navbar-nav{
  height: 100px;
  width: 100%;
}
.nav-link{
height: 100%;
display: flex;
align-items: center;
font-family: 'Barlow Condensed', sans-serif;
font-size: 1.1vw;
letter-spacing: 2px;
}
.nav-link:hover, .active{
  border-bottom: 1px solid white;
}

.item0{
  margin: 0 8% 0 6%;
}
.item2{
  margin: 0 8%;
}
.left{
  padding: 13% 0 0 8.8%;
}
.right{
  text-align: right;
  padding: 25% 5% 0 0;
}
.explore{
  background-color: white;
  border: 0;
  border-radius: 100%;
  height: 90%;
  width: 50%;
  font-family: 'Bellefair', serif;
  color: black;
  font-size: 2vw;
}
.explore:hover{
  border: 30px solid rgba(0, 0, 0, 0.405);
  transform: translate(-25px,-25px);
  transition: 2s;
}

@media screen and (max-width: 1200px) {
  body{
    background-repeat: no-repeat;
    background-size: cover;
  }
  hr{
    width: 0;
  }
  .navbar-nav{
    margin-left: 30%;
  }
  .text-group, .main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .text-group{
    margin-top: 20%;
  }
  h3{
font-size: 2.8vw;
  }
  h1{
font-size: 18vw;
  }
  p{
font-size: 2.25vw;
line-height: 1;
  }
.left{
  padding: 0;
  text-align: center;
}
.right{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 230px;
  width: 350px; */
}
.explore{
  margin-top: 50px;
  height: 200px;
  width: 200px;
}
.explore:hover{
  border: 20px solid rgba(0, 0, 0, 0.405);
  transform: translate(-15px,-15px);
  transition: 2s;
}
}
@media screen and (max-width: 768px){
  .header{
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  }
  body{
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 30px;
    padding-right: 25px;
    background-image: url(../assets/home/background-home-mobile.jpg);
  }
  .item0{
    margin: 0;
  }
  .item2{
    margin: 0;
  }
  .collapse{
    height: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    height: 200px;
  }
  .navbar-nav{
      margin: 0;
      padding: 0;

      width: 120px;
  }
  .nav-link{
        font-size: 0.8em;
  }
  .main , .left , .right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  p{
    font-size: 1.2em;
  }
  .explore{
    height: 140px;
    width: 140px;
  }
}
